/* Все основные константные стили */

html {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
	background-color: #fff;
    ~background: url(img/bgb/011.jpg);
	margin: 0; padding: 0;
}

#content {
	margin: 0 auto;
	height: 100%;
	width: 100%;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: #fff;
	background-repeat: no-repeat;
    background-position: center center;
}

.set {
	height: 36px;
	width: 36px;
	background-image: url(../img/icon/ic_menu_black_36dp_1x.png);
	position: fixed;
	top: 10px;
	right: 8px;
	opacity: 0.3;
}

.set:hover {
	background-image: url(../img/icon/ic_menu_black_36dp_1x.png);
	opacity: 0.8;
	cursor: pointer;
}

.full {
	height: 36px;
	width: 36px;
	background-image: url(../img/icon/ic_fullscreen_black_36dp_1x.png);
	position: fixed;
	bottom: 10px;
	right: 8px;
	opacity: 0.3;
}

.full:hover {
	background-image: url(../img/icon/ic_fullscreen_black_36dp_1x.png);
	opacity: 0.8;
	cursor: pointer;
}

table {
	vertical-align: middle;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	border-spacing: 0px;
}

table.mainT{
	height: 100%;
}

table.payT{
	height: 60px;
}
/*
table.payT td{
	~width: 80px;
	~padding: 0 0 0 10px;
}*/

#txFZ, #txFZD, .txtOFF  {
    font-size: 20px;
}

input[type=range] {
    width: 66px;
}

input[type=range].vVertical {
    -webkit-appearance: slider-vertical;
    width: 10px;
    height:60px;
}

input[type=number] {
	text-align: center;
	font-size: 54px;
	width: 86px;
	color: rgba(000,000,000,0.62);
	outline: none;
	border: none;
}

input.alarmT {
	text-align: center;
	color: rgba(000,000,000,0.52);
	border: none;
	border-bottom: 1px solid rgba(000,000,000,0.32);
	font-size: 17px;
	outline: none;
}

#time {		/* Настройки темы времени для всех */
   text-align: center;
   ~width: 900px;
   margin: 0 auto;
   cursor: default;
   font-family: Verdana;
   color: aliceblue;
   font-size: 100px;
   text-shadow: 0 0 6px rgba(0, 0, 0, 0.3); 
}

#date {		/* Настройки темы даты для всех */
	margin: 0 auto;
	font-size: 30px;
	text-align: center;
	cursor: default;
    font-family: Verdana;
	color: aliceblue;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.date {
	display: block;
}


#dim { 
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		z-index: 100; 
		background: url('../img/dim.png'); 
		display: none; 
		text-align: left; 
}

#dim2 { 
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		z-index: 100; 
		background: url('../img/dim.png'); 
		display: none; 
		text-align: left; 
}
		
.msgbox {
	position: absolute;
	width: 432px;
	~height: 296px; /* 220 */
	z-index: 200;
	background: #f9f9f9;
	top: 0px;
	right: -400px;
	font-family: Arial, Helvetica, sans-serif;
	color: rgba(000,000,000,0.54);
}

.msgbox2 {
	position: relative;
	width: 360px;
	height: 130px; /* 220 */
	z-index: 250;
	~border: 2px solid #222;
	~background: url('../img/dim.png');
	background: #f9f9f9;
	top: 50%;
	margin: 0 auto;
	~display: none;
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 6px 0px;
	margin-top: -80px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 2px 14px;
	color: rgba(000,000,000,0.54);
}

#input {
	width: 104px;
	height: 52px;
	cursor: pointer;
	opacity: 0;
}

.alrTIT {
	border-bottom: 1px dashed rgba(000,000,000,0.62);
    padding-bottom: 14px;
	text-transform: uppercase;
	text-align: center;
}
/*
.alrTIME {
	width: 100px;
	text-align: right; 
}*/

.alrBTOFF {
	width: 360px;
	height: 40px;
	color: rgba(000,000,000,0.62);
	cursor:pointer;
}
.wSecundom,  .wTimer{
	text-align: center;
	
}
.secTXT {
	font-size:58px;
	text-align: center;
	width: 180px;
	margin: 0 auto;
	~color: #2196F3;
}

.secSTR {
	width: 240px;
	height: 46px;
	margin: 6px;
	opacity: 0.7;
	~border: 1px solid #2196F3;
	cursor: pointer;
}

.timTXT, .timTIM {
	font-size:58px;
	text-align: center;
	width: 180px;
	margin: 0 auto;
	~color: #2196F3;
	cursor: pointer;
	~display: none;
}

.timTIM {
	dispaly: none;
}

.timSTR {
	width: 240px;
	height: 46px;
	margin: 6px;
	opacity: 0.7;
	~border: 1px solid #2196F3;
	cursor: pointer;
}

/*
.inTable {
	width: 432px; 
	font-family: Arial, Helvetica, sans-serif;
	color: rgba(000,000,000,0.54);
	~color: #f2f2f2;
	margin: 0;
	padding: 0;
	border: 0;
}*/		
/*
.inTable2 {
	width: 350px; 
	height: 120px; 
	font-family: Arial, Helvetica, sans-serif;
	color: rgba(000,000,000,0.54);
	~color: #f2f2f2;
	margin: 0;
	padding: 0;
}*/
/*
.inTable2 tr td {
	padding: 2px 2px 0 2px;
	text-align: left;
	vertical-align: center;
	font-size: 15px;
}*/	


.punkt {
	width: 426px;
	height: 40px;
	padding: 10px 0 6px 2px;
	~outline: 1px solid #424242;
	border-bottom: 1px solid #e0e0e0;
	cursor: pointer;
}

.punkt:hover {
	opacity: 0.8;
}

.setHead {
	height: 30px;
	font-weight: lighter;
	font-size: 22px;
	padding: 6px 0 0 0;
	margin: 0;
	color: rgba(000,000,000,0.54);
}	

.icon {
	display: inline-block;
	width: 52px;
	height: 36px;
	~background: url("../img/icon/ic_settings_black_36dp_1x.png") no-repeat center top;
	opacity: 0.54;
	float:left;
}

.iN {background: url("../img/icon/ic_settings_black_36dp_1x.png") no-repeat center top;}
.iB {background: url("../img/icon/ic_notifications_active_black_36dp_1x.png") no-repeat center top;}
.iS {background: url("../img/icon/ic_alarm_on_black_36dp_1x.png") no-repeat center top;}
.iT {background: url("../img/icon/ic_timer_black_36dp_1x.png") no-repeat center top;}
.iO {background: url("../img/icon/ic_info_outline_black_36dp_1x.png") no-repeat center top;}

.iD {background: url("../img/icon/ic_volume_up_black_24dp_1x.png") no-repeat center bottom;}
.iM {background: url("../img/icon/ic_notifications_none_black_24dp_1x.png") no-repeat center top;}

.iconR {
	display: inline-block;
	width: 48px;
	height: 34px;
	background: url("../img/icon/ic_close_black_36dp_1x.png") no-repeat center top;
	opacity: 0.54;
	float: right;
	margin-top: -48px;
	cursor: pointer;
}
/* Крестик закрытия настроек */
.iconR:hover {
	opacity: 0.36;
}
/* Поле для вывода сообщений */
.iconS {
    display: inline-block;
    width: 208px;
    height: 36px;
    float: right;
    margin-top: -48px;
    margin-right: 48px;
    padding-top:12px;
	opacity: 0;
}

/* Иконки для шаринга */
/*
.sicon {
	display: inline-block;
	width: 24px;
	height: 24px;
	~background: url("../img/icon/ic_settings_black_36dp_1x.png") no-repeat center top;
	opacity: 0.54;
	float: right;
	margin-top: -4px;
	cursor: pointer;
}

.sicon:hover{
	opacity: 0.9;
}

.vk {
	background: url("../img/sicon/vk.png") no-repeat center top;
}
.fb {
	background: url("../img/sicon/fb.png") no-repeat center top;
}
.gp {
	background: url("../img/sicon/gp.png") no-repeat center top;
}
.tw {
	background: url("../img/sicon/tw.png") no-repeat center top;
}
*/
.wind {
	width: 426px;
	height: 200px;
	display: none;
	~opacity: 0;
	border-bottom: 1px solid #e0e0e0;
}

.tab {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

/* Вкладки для настроек */
.tab li {
	float: left;
	width: 137px;
	height: 24px;
	padding: 10px 0 4px 4px;
	text-align: center;
	~outline: 1px solid #e0e0e0;
	cursor: pointer;
	~background-color: #f9f9f9;
}

.tab li:hover {
	background-color: #ffffff;
}

.tFon {
	border-right: 1px solid #e0e0e0;
	background-color: #ffffff;
}
.tShrift {
	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}
.tVisib {
	border-bottom: 1px solid #e0e0e0;
}

.razdelitel {
	width: 426px;
	height: 38px;
}
.razdelitel2 {
	width: 426px;
	~height: 38px;
	background-color: #ffffff;
}

/* Окно непосредственных настроек */
.setWin {
	background-color: #ffffff;
	width: 426px;
	height: 162px;
	display: none;
	font-size: 16px;
}

.wAbout p.pay {
	padding: 0 0 6px 2px;
	margin: 0;
	font-size: 12px;
}

.wAbout p.txto {
	margin: 0 0 4px 12px;
    padding: 12px 0 0 0;
	font-size: 14px;
	text-align: center;
}

p.txto a{
	text-decoration: none;
	font-weight: bold;
	color: #2196F3;
}

.wFon {
	display: block;
}

.tBack {
    width: 100%;
    border: 0;
}
.tBack td {
    width: 25%;
    height: 52.5px;
    cursor: pointer;
}
/*
.setStyleTo, .setStyleTo9 {
	height: 70px;
	~width: 150px;
	cursor: pointer;
	background-repeat: no-repeat;
}*/

/*
table.lastSetings {
	~width: 100.5%;
	height: 30px;
	cursor: default;
}*/
/*
table.lastSetings tr td {
	padding: 2px 2px 0 2px;
	text-align: center;
	vertical-align: center;
	font-size: 13px;
	text-transform: uppercase;
}*/
/*
table.lastSetings tr td a {
	color: #f2f2f2;
	text-transform: none;
}*/
/*
#save {
	font-size: 13px;
	cursor: pointer;
	color: #f2f2f2;
	padding-top: 2px;
	background-color: #FF8800;
	text-shadow: 0 0 0.2em #333;
	text-transform: none;
}

#save:hover {
	background-color: #FFBB33;
}	*/
/*
#checkDate, #checkSec {
	display:inline-block;
	width: 42px;
	height: 22px; 
	background-color: #f2f2f2;
	background-image: url(../img/dsgSwitchSS1.png);
	background-repeat: no-repeat;
	background-position: -24px 0px;
	cursor: pointer;
}*/